body{
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
}

h1{
    font-weight: 300;
    font-size: 50px;
}

h2{
    font-size: 20px;
}

p{
    font-size: 17px;
    line-height: 24px;
}

p strong{
    text-decoration: underline;
}

.parrafo-destacado{
    color: salmon;
}

strong{
    color: lightgreen;
}